body {
    background: rgb(235, 231, 225);
    color: #000;
  }

#textcontainer {
  position: absolute;
  top: 30px;
  left: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
}

a {
  text-decoration: underline;
  color: #000;
}

a:hover {
  color: rgb(139, 135, 124);
}